<div class="row container-fluid">
  <% @images.each do |image| %>
    <div class="col-lg-4">
      <div class="js-image image-card" >
        <div>
          <%= image_tag(image.url) %>
        </div>
        <div class="btn btn-outline-primary image-card__button">
          <%= link_to 'View Details', image_path(image), :class => "btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

