
<table>
  <% @images.each do |image| %>
    <tr>
      <td class="js-image"><%= image_tag(image.url, width: '280' ) %></td>
      <td><%= link_to 'show', image_path(image) %></td>
    </tr>
  <% end %>
</table>
