<div class="form-group">
  <%= simple_form_for @image  do |f| %>
    <%= f.input :url, label: 'Image URL' %>
    <%= f.input :tag_list, label: 'Add tags', placeholder: 'Optional', input_html: { maxLength: 255, value: @image.tag_list.join(', ') }%>
    <%= f.button :submit %>
  <% end %>
</div>
