<p><%= image_tag(@image.url, :class => 'image-card__url') %></p>
<% @image.tag_list.each do |tag| %>
  <div class="btn btn-success image-card__tags">
    <p id="image-card" class="card-text"><%= tag %></p>
  </div>
<% end %>
<span></span>
<br/>
<div class="btn btn-danger image-card__button">
<%= link_to 'Delete', image_path(@image.id), :class => 'image-card__delete', :method => :delete,  :data => {confirm: 'Are you sure?'} %>
</div>
